$grid-gutter-width: 70px;

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.fa-2x {
    font-size: 1.5em;
}
.row {
	&.vertical-gutter > [class*="col-"] {
	    padding-top: $grid-gutter-width/2;
	    padding-bottom: $grid-gutter-width/2;
	}
}

html, body {
    height: 100%;
}

body {
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    //background: linear-gradient(135deg, #68D7F2 0%, #26b6cb 100%);
    //background: linear-gradient(135deg, #fe7955 0%,#f05c6a 100%);
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;

    &:before {
        content: "";
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        z-index: 100;
    }
}

#main-section {
    color: #fff;
    text-align: center;

    h1 {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
    }

    h2 {
        color: rgba(0, 0, 0, 0.35);
        font-family: "Merriweather", sans-serif;
        font-style: italic;
        font-size: 18px;
        text-transform: uppercase;
    }

    h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    h4 {
        color: rgba(0, 0, 0, 0.5);
        
        a {
            color: rgba(0, 0, 0, 0.5);
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        color: rgba(255, 255, 255, 0.5);

        a {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    hr {
        background-color: rgba(0, 0, 0, 0.1);
        width: 80px;
        height: 4px;
        border-radius: 5px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: none;
    }
    
    .portrait {
        border: 10px solid rgba(0, 0, 0, 0.15);

        overflow: hidden;
        border-radius: 300px;

        width: 230px;
        height: 230px;

        margin: 0 auto;

        img {
            width: 230px;
        }
    }

    .icons {
        padding: 10px 0;
        span {
            display: inline-block;
            padding: 0 5px;
        }
        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

#photo-section {
    [class*="col-"] {
        height: 260px;
        background: rgba(25, 33, 50, 0.8);
        padding: 0;
    }
}