<ul class="chat">
	<!--
	<li ng-repeat="message in messages"
		ng-class="{me: message.username == activeuser.username, you: message.username != activeuser.username}">
		{{message.text}}
	</li>
	//-->

	<li class="you">
		<header>
			<span class="name">John doe</span>
			<span class="time">11:13 PM</span>
		</header>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</li>
	<li class="me">
		<header>
			<span class="name">Me</span>
			<span class="time">11:14 PM</span>
		</header>
		Voluptatem, dicta iure in asperiores adipisci vel dolore!
	</li>
	<li class="me">
		<header>
			<span class="name">Me</span>
			<span class="time">11:14 PM</span>
		</header>
		Eos inventore nulla voluptate odio dolor adipisci itaque rem suscipit aperiam quas unde eveniet eaque soluta minus quod temporibus.
	</li>
</ul>
